.App {
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.member-list {
  background-color: #282c34;
  min-height: 25vh;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.member-buttons button {
  background-color: #282c34; 
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.member-list-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form input[type="text"]  {
  background-color: #282c34; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form select {
  background-color: #282c34; 
  display: flex;
  min-width: 28vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form button {
  background-color: #282c34; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}